@import 'https://fonts.googleapis.com/css?family=Montserrat';

// Bootstrap less
@import "../bower_components/bootstrap-less/less/variables.less";
@import "../bower_components/bootstrap-less/less/mixins.less";
@import "../bower_components/bootstrap-less/less/normalize.less";
@import "../bower_components/bootstrap-less/less/print.less";
@import "../bower_components/bootstrap-less/less/scaffolding.less";
@import "../bower_components/bootstrap-less/less/type.less";
@import "../bower_components/bootstrap-less/less/code.less";
@import "../bower_components/bootstrap-less/less/grid.less";
@import "../bower_components/bootstrap-less/less/tables.less";
@import "../bower_components/bootstrap-less/less/forms.less";
@import "../bower_components/bootstrap-less/less/buttons.less";
@import "../bower_components/bootstrap-less/less/panels.less";

body {
    font-size: 62.5%;
    font-family: 'Montserrat', 'sans-serif';
}

p,
a,
span,
th,
td,
label,
body {
    font-size: 1.2em;
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: bold;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.25em;
}
